.root {
  .table {
    thead {
      background: #ccc;
      text-align: center;

      tr th:first-child {
        text-align: left;
      }
    }

    tbody {
      tr td:first-child {
        text-align: left;
      }

      tr td {
        text-align: center;

        input {
          width: 50%;
          text-align: center;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* Firefox */
        input[type=number] {
          -moz-appearance: textfield;
        }
      }
    }
  }

  .buttonArea {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      margin-left: 5px;
    }
  }

  .error_input {
    border: 1px solid var(--red) !important;
    outline: 1px solid var(--red) !important;
  }
}
