.root {
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 30px;
  min-height: 80vh;

  .content {
    width: 80%;
    padding: 20px;
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .tabsContent {
      padding-left: 20px;
      width: 100%;
    }
  }
}
