.root {
  min-height: 90vh;
  display: flex;
  justify-content: center;

  .teacherContent {
    width: 97%;

    .title {
      text-align: center;
      margin: 15px 0;
    }

    .buttonArea {
      display: flex;
      justify-content: flex-end;
      margin: 15px 0;

      button {
        margin-left: 10px;
      }

      .btnAdd {
        background: var(--blue-1);
      }
    }

    .table {
      margin: 15px 0;
    }
  }
}
