.root {
  display: flex;
  justify-content: center;
  min-height: 90vh;

  .content {
    width: 90%;
    padding: 20px;

    .title {
      margin: 20px 0;
      h2 {
        text-align: center;
        font-weight: bold;
      }
    }

    .weeks {
      display: grid;
      grid-template-columns: auto auto auto auto auto auto;
      grid-gap: 20px;

      button {
        min-width: 140px;
      }

      .btnWeek {
        background-color: transparent;
        border: 1px solid var(--blue-3);
        color: var(--blue-3);
      }

      .btnWeek:hover {
        background-color: var(--blue-3);
        color: var(--white-1);
      }
    }
  }
}
