.root {
  background: var(--white-0);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  padding: 20px 0;

  color: var(--blue-4);
  font-weight: bold;
}
