.root {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .formAddCompetition {
    padding: 10px;
    width: 90%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    border-radius: 10px;
  }

  .buttonArea {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end !important;

    button {
      margin-left: 10px;
    }
  }
}
