.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: var(--black-0);
  padding: 10px 5px;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;

    h4 {
      color: var(--white-0);
      font-weight: bold;
    }
    p {
      margin: 20px;
      padding: 0;
      color: var(--white-0);
    }
  }

  .in4 {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 42px;
      height: 42px;
      object-fit: cover;
    }

    .menu {
      margin-left: 5px;
    }
  }

  .active {
    font-weight: bold;
  }
}
