.root {
  display: flex;
  justify-content: center;
  min-height: 90vh;

  .content {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 20px;

    .listnews {
      width: 69%;

      .newsitem {
        margin-bottom: 20px;
        padding: 20px;
        overflow: hidden;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
          rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      }
    }

    .cmtArea {
      width: 30%;
      position: fixed;
      top: 100px;
      right: 50px;
    }
  }
}
