.root {
  display: flex;
  justify-content: center;
  min-height: 90vh;

  .scorePanel {
    width: 90%;
    padding: 20px;
  }

  .btn {
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;
  }
}
