.root {
  thead {
    background: #ccc;
    text-align: center;

    tr th:first-child,
    tr th:nth-child(2) {
      text-align: left;
    }
  }

  tbody {
    tr td:first-child,
    tr td:nth-child(2) {
      text-align: left;
    }

    tr td {
      text-align: center;

      button {
        margin-right: 5px;
      }
    }
  }
}
